# Django
DJANGO_SECRET_KEY=Your-Secret-Key-Here
DEBUG=True

# Pollinations AI
POLLINATION_API_KEY=Your-Pollinations-API-Key-Here

# PostgreSQL Database
POSTGRES_DB=Your-DB-Name-Here
POSTGRES_USER=Your-DB-User-Here
POSTGRES_PASSWORD=Your-DB-Password-Here
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
